mixin range-slider(label, tag)
  .range-slider
    .range-slider_head
      .range-slider_title
        h3= label
      .range-slider_price
        span.min-price
        span.price-dash &nbsp;-&nbsp;
        span.max-price
    .range-slider_slider
    .range-slider_tag= tag
