@use 'Assets/lib/noUiSlider-15.7.2/_nouislider';
@use 'Sass/abstracts/variables';
.range-slider {
  width: 266px;
  min-height: 47px;
  &_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &_price {
    display: flex;
    justify-content: space-between;
    color: variables.$dark50;
    font-size: 12px;
    line-height: 15px;
  }
  &_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
  &_tag {
    margin-top: 14px;
    color: variables.$dark50;
    font-size: 12px;
    line-height: 14px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  & .noUi-connects {
    overflow: visible;
    cursor: pointer;
    & .noUi-connect {
      background-color: variables.$green;
      border: 1px solid variables.$green;
      margin-top: -1px;
      height: 6px;
    }
  }
  & .noUi-target {
    height: 6px;
    width: 100%;
    border-color: variables.$dark25;
    background-color: #fff;
    & .noUi-handle {
      cursor: pointer;
      width: 17px;
      height: 17px;
      background-color: variables.$green;
      box-shadow: none;
      border: 3px solid #fff;
      border-radius: 100%;
      top: -7px;
      right: -7px;
      &::after,
      &::before {
        display: none;
      }
    }
  }
}
