@import '../../sass/abstracts/_variables';
@import '../../../assets/lib/noUiSlider-15.7.2/_nouislider';

.range-slider {
  width: 266px;
  &_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &_price {
    display: flex;
    justify-content: space-between;
    color: $dark50;
    font-size: 12px;
  }
  &_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
  & .noUi-connects {
    overflow: visible;
    & .noUi-connect {
      background-color: $green;
      border: 1px solid $green;
      margin-top: -1px;
      height: 6px;
    }
  }
  & .noUi-target {
    height: 6px;
    width: 100%;
    border-color: $dark25;
    background-color: #fff;
    & .noUi-handle {
      width: 17px;
      height: 17px;
      background-color: $green;
      box-shadow: none;
      border: 3px solid #fff;
      border-radius: 100%;
      top: -7px;
      right: -7px;
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

