@use 'Sass/abstracts/variables';
.main {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 variables.$dark5;
}
.main-container {
  width: 100%;
  min-height: 829px;
  background-image:
    url('Assets/images/background/background-main.jpg'),
    url('Assets/images/background/background1.jpg'),
    url('Assets/images/background/background_green.jpg');
  background-position: -47px -131px;
  background-repeat: no-repeat;
  padding-left: 140px;
  padding-top: 70px;
  position: relative;
  animation-name: background-switch;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  & .tagline {
    width: 297px;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 134px;
  }
}
@keyframes background-switch {
  0% {
    background-image: url('Assets/images/background/background-main.jpg');
    background-position: -47px -131px;
  }
  10% {
    background-image: url('Assets/images/background/background-main.jpg');
    background-position: -47px -131px;
  }
  25% {
    background-image: url('Assets/images/background/background-main.jpg');
    background-position: -47px -131px;
  }
  33% {
    background-image: url('Assets/images/background/background1.jpg');
    background-position: -543px -199px;
  }
  45% {
    background-image: url('Assets/images/background/background1.jpg');
    background-position: -543px -199px;
  }
  58% {
    background-image: url('Assets/images/background/background1.jpg');
    background-position: -543px -199px;
  }
  66% {
    background-image: url('Assets/images/background/background_green.jpg');
    background-position: -160px -0px;
  }
  85% {
    background-image: url('Assets/images/background/background_green.jpg');
    background-position: -160px -0px;
  }
  92% {
    background-image: url('Assets/images/background/background_green.jpg');
    background-position: -160px -0px;
  }
  100% {
    background-image: url('Assets/images/background/background-main.jpg');
    background-position: -47px -131px;
  }
}
