extends Components/layout/roompage/_roompage.pug


block photo
  include ./_data.pug
  each photo, index in photos
    div.room-image(class='room-image_'+ index)
      img(src=require(`Assets/images/rooms/` + number + `/`+ photo))

block advantage
  each item in advantages
    +advantage(item)
block booking
  each item in data
    if item.number === number
      if item.lux === true
        +booking('люкс', number, item.price)
      else 
        +booking(number, item.price)
block review
  each item in reviews
    +review(item)
block rules
  +bullet(rules)
block script
  script(src=`Pages/room-pages/` + number +`/` + number +`.js`)