
-const number = 888
-const data = require("Assets/json/rooms.json")
-const photos = ['image_1.jpg', 'image_2.jpg', 'image_3.jpg']
-const advantages = [{ symbol: 'mood', title: 'Комфорт', description: 'Шумопоглощающие стены' }, { symbol: 'location_city', title: 'Удобство', description: 'Окно в каждой из спален' }, { symbol: 'whatshot', title: 'Уют', description: 'Номер оснащён камином' }]
-const reviews = [{ username: 'Мурад Сарафанов', userphoto: 'Assets/images/users/murad-sarafanov.png', time: '5 дней назад', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', likes: 12, likePress: true }, { username: 'Патрисия Стеклышкова', userphoto: 'Assets/images/users/patrisia-steklyshkova.png', time: 'неделю назад', text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', likes: 2, likePress: false }]
