.room__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -5px;
}
.sum-price {
  padding-left: 1px;
  &__row {
    display: flex;
    justify-content: space-between;
    color: $dark75;
    line-height: 18px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__calc {
    & span {
      &:first-child {
        width: 214px;
      }
    }
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}


.information {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark25;
  width: 20px;
  height: 20px;
  border: 1px solid $dark25;
  border-radius: 100%;
  cursor: pointer;
}
.room-search  {
  padding-left: 29px;
  padding-right: 29px;
  & .total {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: -1px;
    padding-left: 1px;
    @include h2;
    font-family: $openSans;
    align-items: baseline;
    & span {
      display: block;
      flex-shrink: 0;
      &:last-child {
        font-family: $font-2;
      }
    }
    & .dots {
      display: block;
      border-bottom: 1px dotted $dark;
      flex-grow: 1;
      margin: 0 5px;
    }
      
  }
}
.room__number {
  font-weight: 800;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  & .number {
    @include h1;
    &::before {
      content: '№ ';
      font-size: 14px;
    }
  }
  & .room_type {
    color: $purple;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 29px;
  }
}
.room__price {
  color: $dark50;
  display: flex;
  line-height: 29px;
  gap: 4px;
  & .price {
    font-weight: 800;
    & + span {
      font-size: 12px;
    }
  }
}