{
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "max-len": ["error", 100, 2],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true
}
