mixin room (url, number, price, i, review, type)
  .room
    .room__image 
      img(src= url)
    .room-container 
      .room__info
        .room__number
          //- span №&nbsp;
          span.number= number
          |&nbsp;
          span.room_type= type
        .room__price
          span.price #{price}&#8381
          span &nbsp;в сутки
      .room__rating 
        +star(i)
        .room__review 
          span #{review} 
          span отзывов