.room {
  width: 270px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  &_active {
    & .room__image::before {
      @include expand-more;
      z-index: 1;
      top: 45%;
      left: 10px;
      right: auto;
      transform: rotate(90deg);
      color: #fff;
    }
    & .room__image::after {
      @include expand-more;
      z-index: 1;
      top: 45%;
      right: 10px;
      left: auto;
      transform: rotate(-90deg);
      color: #fff;
    }
  }
  &__image {
    position: relative;
    height: 151px;
    
  }
  &-container {
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  & .room__info {
    position: relative;
    & .number {
      font-size: 19px;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $dark25;
    }
  }
  &__rating {
    display: flex;
    justify-content: space-between;
  }
  &__review {
    color: $dark50;
    & span {
      text-transform: capitalize;
      &:first-child {
        font-weight: 800;
      }
    }
  }
}
