@use '../../sass/mixins/mixins';
@use '../../sass/abstracts/variables';
$arrow_linear:
  rgba(0, 0, 0, 0.5) 0%,
  rgba(0, 0, 0, 0) 99.99%,
  rgba(255, 255, 255, 0) 100%;
@mixin arrow {
  @include mixins.expand-more;
  z-index: 2;
  color: #fff;
  translate: 0 -50%;
}
.room {
  width: 270px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  cursor: pointer;
  &__image {
    position: relative;
    overflow: hidden;
    &:hover .room__slider-arrow {
      display: block;
      position: absolute;
      border: none;
      z-index: 2;
      color: #fff;
      top: 0;
      width: 42px;
      height: 100%;
      &_left {
        left: 0;
        background: linear-gradient(90deg, $arrow_linear);
        &::before {
          @include arrow;
          transform: rotate(90deg);
        }
      }
      &_right {
        right: 0;
        background: linear-gradient(-90deg, $arrow_linear);
        &::before {
          @include arrow;
          transform: rotate(-90deg);
        }
      }
    }
  }
  &__slider {
    height: 151px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    transition: left 0.5s ease;
    left: 0;
    &-item {
      width: 270px;
      height: 100%;
      flex-shrink: 0;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-arrow {
      display: none;
    }
  }
  &-container {
    padding: 17px 17px 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  & .room__info {
    position: relative;
    & .number {
      font-size: 19px;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: variables.$dark10;
    }
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
  }
  &__review {
    color: variables.$dark50;
    display: flex;
    gap: 4px;
    & span {
      text-transform: capitalize;
      &:first-child {
        font-weight: 800;
      }
    }
  }
  &__page {
    display: block;
    text-decoration: none;
  }
  &__price span:last-child {
    font-weight: normal;
  }
}

