$arrow_linear: rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%;
@mixin arrow {
  @include expand-more;
  z-index: 2;
  color: #fff;
  translate: 0 -50%;
}
.room {
  width: 270px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  &_active {
    & .room__slider-arrow {
      position: absolute;
      z-index: 1;
      color: #fff;
      top: 0;
      width: 42px;
      height: 100%;
      &_left {
        left: 0;
        background: linear-gradient(90deg, $arrow_linear);
        &::before {
          @include arrow;
          transform: rotate(90deg);
        }
      }
      &_right {
        right: 0;
        background: linear-gradient(-90deg, $arrow_linear);
        &::before {
          @include arrow;
          transform: rotate(-90deg);
        }
      }
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
  }
  &__slider {
    max-height: 151px;
  }
  &-container {
    padding: 17px 17px 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  & .room__info {
    position: relative;
    & .number {
      font-size: 19px;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $dark10;
    }
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
  }
  &__review {
    color: $dark50;
    display: flex;
    gap: 4px;
    & span {
      text-transform: capitalize;
      &:first-child {
        font-weight: 800;
      }
    }
  }
}
