.text.head-1
  p.text__name h1
  p.text__sentence This one is the sub-section or widget title
.text.head-2
  p.text__name h2
  p.text__sentence Next one is the item title inside widgets
.text.head-3
  p.text__name h3
  p.text__sentence This is a label or CTA text
.text.paragraphs
  p.text__name body
  p.text__sentence This is the body text which is used for most of&nbsp;the design, like paragraphs, lists, etc.
