.text {
  display: flex;
  gap: 30px;
  &__sentence {
    max-width: 338px;
  }
  &__name {
    width: 37px;
    text-transform: capitalize;
    text-align: end;
    color: $dark25;
    //fix width for first name
  }
}
.paragraphs {
  margin-top: -3px;
  & .text__sentence {
    @include bodyfont;
  }
  & .text__name {
    @include bodyfont;
    color: $dark25;
  }
}
.head {
  &-1 {
    line-height: 30px;
    & .text__sentence {
      @include h1;
    }
    & .text__name {
      font-size: 24px;
    }
  }
  &-2 {
    & .text__sentence {
      @include h2;
    }
    & .text__name {
      font-size: 19px;
    }
  }
  &-3 {
    & .text__sentence {
      @include h3;
    }
    & .text__name {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
