@import 'Components/sass/base/basic';
@import 'Components/sass/abstracts/variables';

.text {
  display: flex;
  gap: 20px;
  &__sentence {
    max-width: 416px;
  }
  &__name {
    width: 37px;
    text-transform: capitalize;
    text-align: end;
    color: $dark25;
    //fix width for first name
  }
  &:first-child {
    font-size: 24px;
  }
  &:last-child {
    @include main-font;
    color: $dark75;
  }
}