@import 'Components/sass/base/basic';
@import 'Components/sass/abstracts/variables';

.text {
  display: flex;
  gap: 30px;
  &__sentence {
    max-width: 338px;
    
  }
  &__name {
    width: 37px;
    text-transform: capitalize;
    text-align: end;
    color: $dark25;
    //fix width for first name
  }
  &:first-child {
    font-size: 24px;
  }
  &:last-child {
    @include main-font;
    color: $dark75;
    margin-top: -5px;
  }
}

.head {
  &-1 {
    line-height: 1.3;
    & .text__sentence{
      font-weight: 700;
      @include head-font;
    }
    & .text__name {
      font-size: 24px;
    }
  }
  &-2 {
    & .text__sentence{
      @include head-font;
      font-size: 19px;
    }
    & .text__name {
      font-size: 19px;
    }
  }
  &-3 {
    & .text__sentence{
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    & .text__name {
      font-size: 12px;
    }
  }
}
