extends Components/layout/roompage/_roompage.pug

block main 
  block photo
    img(src=`Assets/images/rooms/888/image_1`);
    img(src=`Assets/images/rooms/888/image_2`);
    img(src=`Assets/images/rooms/888/image_3`);