@use 'Sass/abstracts/variables';
@use 'Sass/mixins/mixins';
.like {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 40px;
  height: 20px;
  color: variables.$dark25;
  border-radius: 10px;
  border: 1px solid variables.$dark25;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
  &__symbol {
    font-size: 10px;
    color: white;
    -webkit-text-stroke: 1px variables.$dark25;
  }
  &_press {
    @include mixins.border-gradient;
    border-width: 1px;
    color: variables.$purple;
    & .like__symbol {
      font-size: 10px;
      color: variables.$purple;
      -webkit-text-stroke: unset;
    }
  }
}
