@use 'Sass/abstracts/variables';
.bullet-list_item {
  position: relative;
  line-height: 24px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: variables.$dark25;
    position: absolute;
    top: 7px;
    left: -20px;
  }
  color: variables.$dark75;
  &::first-letter {
    text-transform: uppercase;
  }
}
.bullet-list {
  max-width: 260px;
  margin-top: -3px;
  padding-left: 21px;
}
