.datepicker-container .field-name{
  position: relative;
  &::after {
    @include expand-more;
  }
  width: 150px;
  & .datepicker {
    width: 100%;
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
      color: $dark75;
    }
  }
}
.datepicker-container {
  display: flex;
  gap: 20px; 
}
.datepicker-filter-container .field-name  {
  position: relative;
  width: 266px;
  &::after {
    @include expand-more;
    top: 50%;
    
  }
  & .filter-datepicker {
    width: inherit;
    text-transform: lowercase;
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
      color: $dark75;
    }
  }
}
