include Blocks/forms/mixins/_mixins-forms.pug

mixin filter-datepicker(label, type, name, placeholder)
  .datepicker-container.datepicker-filter-container&attributes(attributes)
    +label(label)
      +field(type, name, placeholder)(class='filter-datepicker text-field')