@use 'Sass/abstracts/variables';
@use 'Sass/mixins/mixins';
.advantage-container {
  display: flex;
  gap: 41px;
  flex-direction: column;
}
.advantage {
  position: relative;
  width: 290px;
  display: flex;
  gap: 10px;

  &:not(:last-child)::after {
    width: 280px;
    height: 1px;
    background-color: rgba(variables.$dark, 0.1);
    content: '';
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
  }
  &__symbol {
    width: 48px;
    height: 48px;
    text-align: center;

    & span {
      @include mixins.material;
      @include mixins.text-gradient;
      font-size: 48px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    color: variables.$dark75;
    & span::first-letter {
      text-transform: uppercase;
    }
  }
  &__title {
    font-weight: 700;
  }
}
