mixin advantage(data= {})
  .advantage
    .advantage__symbol
      span= data.symbol
    .advantage__content
      span.advantage__title= data.title
      span.advantage__description= data.description