@use 'Sass/abstracts/variables';
@use 'Sass/mixins/mixins';
.color {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &__rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark {
      background-color: variables.$dark;
    }
    &_dark75 {
      background-color: variables.$dark75;
    }
    &_dark50 {
      background-color: variables.$dark50;
    }
    &_dark25 {
      background-color: variables.$dark25;
    }
    &_dark5 {
      background-color: variables.$dark5;
    }
    &_purple {
      background-color: variables.$purple;
    }
    &_green {
      background-color: variables.$green;
    }
  }
  & .color__name {
    text-transform: capitalize;
    line-height: 28px;
  }
  & .color__prop {
    @include mixins.h2;
    width: 164px;
  }
  &__hex {
    font-weight: 400;
    line-height: 28px;
  }
}
