@import '../../sass/abstracts/variables';

.color {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &__rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark {
      background-color: $dark;
    }
    &_dark75 {
      background-color: $dark75;
    }
    &_dark50 {
      background-color: $dark50;
    }
    &_dark25 {
      background-color: $dark25;
    }
    &_dark5 {
      background-color: $dark5;
    }
    &_purple {
      background-color: $purple;
    }
    &_green {
      background-color: $green;
    }
  }
  & .color__name {
    text-transform: capitalize;
  }
  & .color__prop {
    font-size: 19px;
    width: 164px;
    line-height: 1.5;
  }
  &__hex {
    font-family: $font-2;
  }
}