@import '../../../../sass/mixins/_mixins';
.exp-checkbox__header{
  position: relative;
  width: 266px;
  cursor: pointer;
  &::after {
    @include expand-more;
    top: 0;
  }
}
.exp-checkbox__container {
  display: none;
  &_active {
    display: block;
  }
}