@import '../../../../sass/mixins/_mixins';
.exp-checkbox {
  &__header{
    position: relative;
    width: 266px;
    cursor: pointer;
    &::after {
      @include expand-more;
      top: 0;
    }
  }
  &__container {
    display: none;
  }
  &_active {
    .exp-checkbox__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .exp-checkbox__header::after {
      rotate: 180deg;
    }
  }
}