extends Components/layout/layout/_layout.pug
include Blocks/advantage/_advantage.pug

block main
  .photo-container
    block photo
  .content-container
    .info
      .advantages
        h2.info__title Сведения о номере
        .advantages__items
          block advantage
      .impressions
        h2.info__title Впечатления о номере
        .chart-container
          .chart
            canvas(id="myChart")
          .chart__legend#legend
            //- ul
            //-   li.chart__legend-item.perfect Великолепно
            //-   li.chart__legend-item.good Хорошо
            //-   li.chart__legend-item.satisfact Удовлетворительно
            //-   li.chart__legend-item.disappoint Разочарован
      .reviews
        h2.info__title Отзывы посетителей номера
        block review
      .rules
        h2.info__title Правила
        block rules
      .cancel
        h2.info__title Отмена
        block cancel
    .booking-form
      block booking
//- 
//- block script