extends Components/layout/layout/_layout.pug
include Blocks/advantage/_advantage.pug
include Blocks/bullet-list/_bullet-list.pug

block main
  .photo-container
    block photo
  .content-container
    .info
      .advantages
        h2.info__title Сведения о номере
        .advantages__items
          block advantage
      .impressions
        h2.info__title Впечатления о номере
        .chart-container
          .chart
            canvas(id="myChart")
          .chart__legend#legend
      .reviews
        h2.info__title Отзывы посетителей номера
        .review-container
          block review
      .rules
        h2.info__title Правила
        block rules
      .cancel
        h2.info__title Отмена
        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    .booking-form
      block booking