@use 'Components/sass/base/_fonts';
@use 'Components/sass/abstracts/variables';
@use 'Components/sass/mixins/mixins';
@use 'Components/sass/base/normalize';
@use 'Components/sass/base/basic';
@use 'Blocks/color_item/color-block';
@use 'Blocks/logo/logo';
@use 'Blocks/text-block/text-block';
@use 'Assets/fonts/fontawesome/scss/fontawesome.scss';
@use 'Assets/fonts/fontawesome/scss/solid.scss';
@use 'Assets/fonts/fontawesome/scss/brands.scss';
@use 'Blocks/buttons/checkbox/check-buttons';
@use 'Blocks/buttons/like/like.scss';
@use 'Blocks/forms/mixins/mixins-forms.scss';
@use 'Blocks/forms/subscription/subscription.scss';
@use 'Blocks/forms/search-form/search-form.scss';
@use 'Blocks/forms/booking/booking.scss';
@use 'Blocks/buttons/rating/rating';
@use 'Blocks/buttons/button/button';
@use 'Blocks/dropdown/dropdown';
@use 'Blocks/buttons/checkbox/expandable/expandable';
@use 'Blocks/buttons/checkbox/rich/rich';
@use 'Blocks/bullet-list/bullet-list';
@use 'Blocks/advantage/advantage';
@use 'Blocks/review/review';
@use 'Blocks/datepicker/datepicker';
@use 'Components/layout/header/header';
@use 'Components/layout/footer/footer';

.main {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 variables.$dark5;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photo-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 243px 242px;
}

.content-container {
  display: flex;
  margin: 70px auto ;
  width: calc(100% - 280px);
  gap: 40px;
}
.advantages__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info {
  max-width: 712px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  &__title {
    margin-bottom: 20px;
  }
}
.impressions {
  flex-grow: 1;
}
.room-image {
  display: block;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  &_0 {
    max-width: 981px;
    grid-area: 1 / 1 / 3 / 2;
  }
  &_1 {
    grid-area: 2 / 2 / 3 / 3;
  }
}
.chart-container {
  display: flex;
  gap: 30px;
}

.chart {
  height: 120px;
  width: 120px;
  position: relative;
  &__legend {
    display: flex;
    align-items: flex-end;
  }
  &__legend-item {
    position: relative;
    padding-left: 15px;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
.perfect {
  @include mixins.gradient-color(#FFE39C, #FFBA9C);
}
.good {
  @include mixins.green-gradient;
}
.satisfact {
  @include mixins.main-gradient;
}
.disappoint {
  @include mixins.gradient-color(#909090, #3D4975);
}
.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  & span:first-child {
    font-size: 24px;
  }
}
.cancel {
  max-width: 340px;
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.reviews .info__title {
  position: relative;
}
.review__counter {
  font-size: 14px;
  color: variables.$dark50;
  font-family: variables.$font-1;
  font-weight: normal;
  position: absolute;
  right: 0;
}