extends Components/layout/layout/_layout.pug
include Blocks/advantage/_advantage.pug
include Blocks/bullet-list/_bullet-list.pug

block main
  .photo-container
    block photo
  .content-container
    .info
      section.advantages
        h2.info__title Сведения о номере
        .advantages__items
          block advantage
      section.impressions
        h2.info__title Впечатления от номера
        .chart-container
          .chart
            canvas(id="myChart")
          .chart__legend#legend
      section.reviews
        h2.info__title Отзывы посетителей номера
          span.review__counter #{reviews.length} отзыва
        .review-container
          block review
      section.rules
        h2.info__title Правила
        block rules
      section.cancel
        h2.info__title Отмена
        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    .booking-form
      block booking