@import './mixins/mixins-forms';
@import './subscription/subscription';

.field {
  width: 320px;
}
.date-field {
  width: 150px;
}
.disabled-field {
  color: $dark50;
  & select{
    background-color: $dark50;
    background-image: none;
  }
}
#text-focus {
  @include focus-field;
}
.filter-field {
  width: 266px;
}