@import './text-field/text-field';

.field {
  width: 320px;
}
.date-field {
  width: 150px;
}
.disabled-field {
  color: $dark50;
  & select{
    background-color: $dark50;
  }
}
#text-focus {
  @include focus-field;
}