
.button {
  padding: 0 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 99px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  flex-shrink: 0;
  @include back-gradient;
  cursor: pointer;
  &:active,
  &:hover,
  &:focus,
  &_active {
    opacity: 0.5;
  }
  &__border {
    @include border-gradient;
    color: $purple;
    padding: 0 17px 0 14px;
  }
  &__text {
    display: inline-flex;
    border: none;
    min-width: auto;
    min-height: auto;
    text-align: left;
    background: #fff;
    color: $purple;
    justify-content: center;
    align-items: center;
    padding: 1px 0 0 1px;
    &:active,
    &:hover,
    &:focus,
    &_active {
      color: $dark50;
      opacity: 1;
    }
  }
  &__long {
    width: 320px;
    position: relative;
    &::after {
      @include material;
      position: absolute;
      top: 50%;
      right: calc(0% + 10px);
      content: 'arrow_forward';
      text-align: center;
      color: #fff;
      translate: 0 -50%;
    }
  }
}