
.button {
  padding: 15px 20px 15px 19px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  flex-shrink: 0;
  @include back-gradient;
  cursor: pointer;
  &:active,
  &:hover,
  &:focus,
  &_active {
    opacity: 0.5;
  }
  &__border {
    @include border-gradient;
    color: $purple;
    padding: 13px 17px 13px 17px;
  }
  &__text {
    border: none;
    width: auto;
    height: auto;
    text-align: left;
    background: #fff;
    color: $purple;
    padding: 2px 2px 0 0;
    &:active,
    &:hover,
    &:focus,
    &_active {
      color: $dark50;
      opacity: 1;
    }
  }
  &__long {
    width: 320px;
    position: relative;
    &::after {
      @include material;
      position: absolute;
      top: 50%;
      right: calc(0% + 10px);
      content: 'arrow_forward';
      text-align: center;
      color: #fff;
      translate: 0 -50%;
    }
  }
}