.checkbox-rich + .label-container {
  
  & > .checkbox-label{
    
    font-weight: 700;
    color: $dark75;
    font-size: 14px;
    & + span {
      font-size: 12px;
      color: $dark50;
      font-weight: 400;
      line-height: 14px;
      margin-top: 6px;
    }
  }
}