mixin dropdown(type, dropdownName, placeholder, bottom)
  .dropdown(class= type)(class!=attributes.class)
    h3.dropdown__name= dropdownName
    .dropdown__item
      span.dropdown__placeholder= placeholder
    block

mixin option(data={})
  .dropdown__menu
    each item, key in data
      .dropdown__option(data-name= key)
        .dropdown__option-name
          span= item.text
        .dropdown__option-amount
          button.amount-button.amount-button_inactive.decrease -
          .amount= item.amount
          button.amount-button.increase +
    block

mixin roomDropdown(name)
  +dropdown('roomselect', name, '2 спальни, 2 кровати, 1 ванная комната',
    false)(class!=attributes.class)
    +option(
      {
        'bedroom': {amount: 2, text: 'спальни'},
        'bed': { amount: 2, text: 'кровати'},
        'bath': {amount: 1, text: 'ванные комнаты'},
      }
    )
      block

mixin guestDropdown(name, placeholder= 'Сколько гостей', data= {'adults': {amount: 0, text: 'взрослые'},'children': { amount: 0, text: 'дети'},'infants': {amount: 0, text: 'младенцы'},})
  +dropdown('guest', name, placeholder, true)(class!=attributes.class)
    +option(data)
      .dropdown__footer
        button.dropdown__btn.dropdown__btn__clear Очистить
        button.dropdown__btn.dropdown__btn__apply Применить