mixin dropdown(type, id, dropdownName, selectionText, data={}, bottom)
  .dropdown(id= id)
    h3.dropdown-name= dropdownName
    .item-dropdown(class!=attributes.class class= type)
      p.item-dropdown__selection= selectionText
      .item-dropdown__menu
        each item, key in data
          .item-dropdown__menu-option
            .item-dropdown-item
              p=item
            .item-dropdown__menu-quantity
              button.dropdown-button.dropdown-button_inactive.decrease -
              .item-quantity(id= key) 0
              button.dropdown-button.increase +
        if bottom
          .dropdown-bottom
            button.dropdown-btn.dropdown-btn__clear Очистить
            button.dropdown-btn.dropdown-btn__apply Применить
        