@use '../../sass/abstracts/variables';
@use '../../sass/mixins/mixins';
.dropdown {
  width: 100%;
  position: relative;
  min-width: 266px;
  &__name {
    margin-bottom: 5px;
  }
  &__placeholder {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
  &_active {
    & .dropdown__menu {
      display: block;
      box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
    }
    & .dropdown__item {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: variables.$dark50;
    }
  }
  &__item {
    display: flex;
    position: relative;
    width: 100%;
    border: 1px solid variables.$dark25;
    border-radius: 4px;
    min-height: 44px;
    padding: 0 88px 0 15px;
    align-items: center;
    line-height: 24px;
    color: variables.$dark75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &::after {
      @include mixins.expand-more;
      translate: 0 -50%;
    }
    &_opened {
      border-color: variables.$dark50;
      border-radius: 4px 4px 0 0;
    }
  }
  &__menu {
    border: 1px solid variables.$dark50;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  &__option {
    height: 30px;
    @include mixins.h3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
    &-amount {
      display: flex;
      width: 92px;
      align-items: center;
      margin-left: auto;
    }
  }
  &__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 5px;
}
}

.amount {
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  &-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid variables.$dark25;
    color: variables.$dark50;
    font-size: 18px;
    margin-top: 4px;
    cursor: pointer;
      &_inactive {
        opacity: 0.5;
        cursor: default;
      }
  }
}

.dropdown__btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: variables.$purple;
  cursor: pointer;
  &__clear {
    opacity: 0;
    &_active {
      opacity: 1;
    }
  }
}

.roomselect {
  max-width: 266px;
}
