@import '../datepicker/_datepicker';

.item-dropdown {
  position: relative;
  width: 100%;
  border: 1px solid $dark25;
  border-radius: 4px;
  &__opened {
    border-color: $dark50;
    border-radius: 4px 4px 0 0;
  }
  &_menu {
    border: 1px solid $dark50;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    left: -1px;
    right: -1px;
    border-radius: 0 0 4px 4px;
    &-quantity {
      display: flex;
    }
    &__closed {
      display: none;
      z-index: 0;
    }
  }
  &_selection {
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    @include expand-more;
    &::after {
      top: 25%;
    }
  }
  &_menu-option {
    height: 44px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
  }
}

.dropdown-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid $dark25;
  color: $dark50;
  font-size: 18px;
  cursor: pointer;
  &__inactive {
    opacity: 0.5;
    cursor: default;
  }
}
.item-quantity {
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-bottom {
  display: flex;
  justify-content: space-between;
  height: 44px;
}
.dropdown-apply,
.dropdown-clear {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: $dark50;
  cursor: pointer;
}
.dropdown-apply {
  color: $purple;
}
.dropdown-clear__invisible {
  visibility: hidden;
}
