mixin dropdown(type, dropdownName, selectionText, data={}, bottom)
  .dropdown
    h3.dropdown-name= dropdownName
    .item-dropdown(class= type)
      p.item-dropdown_selection= selectionText
      .item-dropdown_menu.item-dropdown_menu__closed
        each item, key in data
          .item-dropdown_menu-option
            .item-dropdown-item
              p=item
            .item-dropdown_menu-quantity
              button.dropdown-button.dropdown-button__inactive.decrease -
              .item-quantity(id= key) 0
              button.dropdown-button.increase +
        if bottom
          .dropdown-bottom
            button.dropdown-clear.dropdown-clear__invisible Очистить
            button.dropdown-apply Применить
        