mixin dropdown(type, dropdownName, placeholder, bottom)
  .dropdown(class= type)(class!=attributes.class)
    h3.dropdown__name= dropdownName
    .dropdown__item
      span.dropdown__placeholder= placeholder
    block

mixin option(data={})
  .dropdown__menu
    each item, key in data
      .dropdown__option
        .dropdown__option-name
          span= key
        .dropdown__option-amount
          button.amount-button.amount-button_inactive.decrease -
          .amount= item
          button.amount-button.increase +
    block

mixin roomDropdown(name)
  +dropdown('roomselect', name, '2 спальни, 2 кровати, 1 ванная комната',
    false)(class!=attributes.class)
    +option(
      {
        'спальни': 2,
        'кровати': 2,
        'ванные комнаты': 1
      }
    )
      block

mixin guestDropdown(name, placeholder= 'Сколько гостей', data= {'взрослые': 0, 'дети': 0, 'младенцы': 0})
  +dropdown('guest', name, placeholder, true)(class!=attributes.class)
    +option(data)
      .dropdown__footer
        button.dropdown__btn.dropdown__btn__clear Очистить
        button.dropdown__btn.dropdown__btn__apply Применить