@use '../mixins/mixins';
@use '../abstracts/variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

ul {
  list-style: none;
}
h1 {
  @include mixins.h1;
  margin: 0;
  padding: 0;
}
h2 {
  @include mixins.h2;
}
h3 {
  @include mixins.h3;
}

body {
  @include mixins.bodyfont;
  box-sizing: border-box;
}
.no-scroll {
  overflow: hidden;
}
input:focus,
input:hover,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  outline: none;
}
.material-icons {
  @include mixins.material;
}
fieldset,
button {
  border: none;
  background: none;
  font-family: variables.$font-1;
}
legend,
h3.buttons-name {
  @include mixins.h3;
  width: 100%;
  margin-bottom: 16px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
