@import '../mixins/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
h1 {
  @include head-font;
  font-size: 24px;
}
h2 {
  @include head-font;
  font-size: 19px;
}
h3 {
  @include main-font;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

body {
  @include main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
}
input:focus,
input:hover,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  outline: none;
}
.material-icons {
  @include material;
}
fieldset,
button {
  border: none;
}