@font-face {
  font-family: 'Montserrat';
  src: url('../../../assets/fonts/Montserrat-Regular.ttf');
  src: url('../../../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/Montserrat-Regular.woff') format('woff'),
      url('../../../assets/fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../../../assets/fonts/Quicksand-Regular.eot');
  src: url('../../../assets/fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/Quicksand-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/Quicksand-Regular.woff') format('woff'),
      url('../../../assets/fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../../../assets/fonts/Quicksand-Bold.eot');
  src: url('../../../assets/fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/Quicksand-Bold.woff2') format('woff2'),
      url('../../../assets/fonts/Quicksand-Bold.woff') format('woff'),
      url('../../../assets/fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons Two Tone';
  src: url('../../../assets/fonts/material-icons/MaterialIconsTwoTone-Regular.eot');
  src: url('../../../assets/fonts/material-icons/MaterialIconsTwoTone-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/material-icons/MaterialIconsTwoTone-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/material-icons/MaterialIconsTwoTone-Regular.woff') format('woff'),
      url('../../../assets/fonts/material-icons/MaterialIconsTwoTone-Regular.svg#MaterialIconsTwoTone-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons Round';
  src: url('../../../assets/fonts/material-icons/MaterialIconsRound-Regular.eot');
  src: url('../../../assets/fonts/material-icons/MaterialIconsRound-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/material-icons/MaterialIconsRound-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/material-icons/MaterialIconsRound-Regular.woff') format('woff'),
      url('../../../assets/fonts/material-icons/MaterialIconsRound-Regular.svg#MaterialIconsRound-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons Sharp';
  src: url('../../../assets/fonts/material-icons/MaterialIconsSharp-Regular.eot');
  src: url('../../../assets/fonts/material-icons/MaterialIconsSharp-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/material-icons/MaterialIconsSharp-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/material-icons/MaterialIconsSharp-Regular.woff') format('woff'),
      url('../../../assets/fonts/material-icons/MaterialIconsSharp-Regular.svg#MaterialIconsSharp-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../../../assets/fonts/material-icons/MaterialIcons-Regular.eot');
  src: url('../../../assets/fonts/material-icons/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
      url('../../../assets/fonts/material-icons/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
