include ../components/blocks/color_item/_color-block.pug
include ../components/blocks/forms/mixins/_mixins-forms.pug
include ../components/blocks/buttons/checkbox/_check-buttons.pug
include ../components/blocks/buttons/like/_like.pug
include ../components/blocks/buttons/rating/_rating.pug
include ../components/blocks/buttons/button/_button.pug
include ../components/blocks/dropdown/_dropdown.pug
include ../components/blocks/buttons/checkbox/expandable/_expandable.pug
include ../components/blocks/buttons/checkbox/rich/_rich.pug
include ../components/blocks/bullet-list/_bullet-list.pug
include ../components/blocks/advantage/_advantage.pug
include ../components/blocks/review/_review.pug
include ../components/layout/header/_header.pug
include ../components/layout/footer/_footer.pug
include ../components/blocks/logo/_logo.pug
include ../components/blocks/forms/subscription/_subscription.pug
include ../components/blocks/forms/room-search/_room-search.pug
include ../components/blocks/room/_room.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    //- link(rel="stylesheet", href="./index/index.scss")
    //- link(rel="icon", href="../../assets/favicons/group.png")
    title Toxin
  body
    .container
  script(src="./index/index.js")