extends Components/layout/layout/_layout.pug

block main
  include ../components/blocks/forms/search-form/_search-form.pug
  p.tagline Лучшие номера для вашей работы, отдыха и просто вдохновения
block script
  script(src="./index/index.js")