doctype doctype
html(lang="en")
  head
    meta(charset="utf-8")
    //- link(rel="stylesheet", href="./index/index.scss")
    //- link(rel="icon", href="../../assets/favicons/group.png")
    title Toxin
  body
  script(src="./index/index.js")