include ../components/blocks/color_item/_color-block.pug
include ../components/blocks/forms/mixins/_mixins-forms.pug
include ../components/blocks/buttons/checkbox/_check-buttons.pug
include ../components/blocks/buttons/like/_like.pug
include ../components/blocks/buttons/rating/_rating.pug
include ../components/blocks/buttons/button/_button.pug
include ../components/blocks/dropdown/_dropdown.pug
include ../components/blocks/buttons/checkbox/expandable/_expandable.pug
include ../components/blocks/buttons/checkbox/rich/_rich.pug
include ../components/blocks/bullet-list/_bullet-list.pug
include ../components/blocks/advantage/_advantage.pug
include ../components/blocks/review/_review.pug
include ../components/layout/header/_header.pug
include ../components/layout/footer/_footer.pug
include ../components/blocks/logo/_logo.pug
include ../components/blocks/forms/subscription/_subscription.pug
include ../components/blocks/forms/room-search/_room-search.pug
include ../components/blocks/room/_room.pug


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Uikit
  body
    .container
      section.block-container
        h2.section-title Colors & Type
        +simpleLogo
        .color-container
          +color-item('dark shade 100%', '#1F2041', 'color__rect_dark')
          +color-item('dark shade 75%', '#1F2041', 'color__rect_dark75')
          +color-item('dark shade 50%', '#1F2041', 'color__rect_dark50')
          +color-item('dark shade 25%', '#1F2041', 'color__rect_dark25')
          +color-item('dark shade 5%', '#1F2041', 'color__rect_dark5')
          +color-item('purple', '#BC9CFF', 'color__rect_purple')
          +color-item('green', '#6FCF97', 'color__rect_green')
        .text-container
          include ../components/blocks/text-block/_text-block.pug
      section.block-container
        h2.section-title Form elements
        +simpleLogo
        .forms-top
          .row
            .forms-block
              +label('text field')(class="text-field_default")
                +field('text', 'email', 'Email')(class="text-field text-field_default")
              +label('text field')(class="text-field_hover")
                +field('text', 'text-focus', 'This is preaty awesome')(class="text-field")
              +dropdown('guest','guestdrop', 'Dropdown', 'Сколько гостей',
                          {'adults': 'Взрослые',
                            'children': 'Дети',
                            'infant': 'Младенцы'
                          },
                          true)(class='default-dropdown')
              +label('masked text field')(class="text-field_default")
                +field('text', 'masked', 'ДД.ММ.ГГГГ')(class='text-field masked-date')
              
              .datepicker-container
                +label('date dropdown')
                  +field('text', 'date', 'ДД.ММ.ГГГГ')(class='masked-date datepicker text-field')
                .disable-date
                  h3.disable-date_name date dropdown
                  .disable-date_field
              .datepicker-filter-container
                +label('date dropdown')
                  +field('text', 'date', '19 авг - 23 авг')(class='filter-datepicker text-field')
              
              +label('subscription text field')
                +subscription
            .forms-block
              .button-container
                h3.buttons-name checkbox buttons
                +checkbox('smoking', 'Можно курить')
                +checkbox('pets', 'Можно с питомцами', 'checked')
                +checkbox('guests', 'Можно пригласить гостей (до 10 человек)', 'checked')
              .button-container
                h3.buttons-name radio buttons
                .radio
                  +radio('sex', 'man', 'Мужчина', 'true')(class='radio__item')
                  +radio('sex', 'woman', 'Женщина')(class='radio__item')
              .button-container
                h3.buttons-name toggle
                +toggle('offer-on', 'Получать спецпредложения', 'checked')
                +toggle('offer-off', 'Получать спецпредложения')
              .button-container
                h3.buttons-name like button
                .like-container
                  +like(2)
                  +like(12)(class="like_press")
              .button-container
                h3.buttons-name rate button
                .rate-buttons
                  +star(4)
                  +star(5)
            .forms-block
              .button-container
                include ../components/blocks/range-slider/_range-slider.pug
              .button-container
                h3.buttons-name buttons
                .small-buttons
                  +button("click me")
                  +button("click me")(class="button_active")
                  +button("click me")(class="button__border")
                  +button("click me")(class="button_active button__border")
                  +button("click me")(class="button__text")
                  +button("click me")(class="button__text button__text_active")
                +button("перейти к оплате")(class="button__long")
              .button-container
                h3.buttons-name pagination
                include ../components/blocks/pagination/_paginat.pug
          .row
            .forms-block
              +dropdown('roomchoice','roomchoice-1', 'Dropdown', '2 спальни, 2 кровати...',
                            {'bedroom': 'спальни',
                            'bed': 'кровати',
                            'bath': 'Ванные комнаты'
                            },
                            false)(class='default-dropdown')
              +dropdown('roomchoice','roomchoice-2', 'Dropdown', '2 спальни, 2 кровати...',
                            {'bedroom': 'спальни',
                            'bed': 'кровати',
                            'bath': 'Ванные комнаты'
                            },
                            false)(class='expanded-dropdown')
            .forms-block
              +dropdown('guest','guestopen', 'Dropdown', 'Сколько гостей',
                            {'adults': 'Взрослые',
                              'children': 'Дети',
                              'infant': 'Младенцы'
                            },
                            true)
            .forms-block
              +dropdown('guest','guestchoose', 'Dropdown', 'Сколько гостей',
                            {'adults': 'Взрослые',
                              'children': 'Дети',
                              'infant': 'Младенцы'
                            },
                            true)
          .row
            .forms-block
              +expandable-checkbox
                +checkbox("breakfast", "завтрак")
                +checkbox("desk", "письменный стол")
                +checkbox("babychair", "стул для кормления")
                +checkbox("crib", "кроватка")
                +checkbox("tv", "телевизор")
                +checkbox("shampoo", "шампунь")
              +expandable-checkbox(class="exp-checkbox__container_active")
                +checkbox("breakfast1", "завтрак")
                +checkbox("desk1", "письменный стол", "checked")
                +checkbox("babychair1", "стул для кормления", "checked")
                +checkbox("crib1", "кроватка", "checked")
                +checkbox("tv1", "телевизор")
                +checkbox("shampoo1", "шампунь")
            .forms-block
              .button-container
                h3.buttons-name rich checkbox buttons
                +checkbox('hall', 'Широкий коридор')(class="checkbox-rich")
                  +checkbox-rich('Ширина коридоров в номере не\u00A0менее 91 см.')
                +checkbox('assistant', 'Помощник для инвалидов')(class="checkbox-rich")
                  +checkbox-rich('На 1 этаже вас встретит специалист и проводит до номера.')
            .forms-block
              .button-container
                  h3.buttons-name bullet list
                  +bullet(['нельзя с питомцами', 'без вечеринок и мероприятий', 'время прибытия \u2014 после 13:00, а выезд до 12:00'])
          .row
            .advantage-container
              +advantage({
                symbol: 'mood',
                title: 'Комфорт',
                description: 'Шумопоглощающие стены'
              })
              +advantage({
                symbol: 'location_city',
                title: 'Удобство',
                description: 'окно в каждой из спален'
              })
            .review-container
              +review({
                username: 'Мурад Сарафанов',
                userphoto: '../assets/images/userphoto.png',
                time: '5 дней назад',
                text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
              })
                +like(12)(class="like_press")
      section.block-container.flexbox
        h2.section-title Cards
        +simpleLogo
        .column
          include ../components/blocks/forms/search-form/_search-form.pug
          include ../components/blocks/forms/reg-form/_reg-form.pug
        .column
          +room-search('люкс', '888', '9900')
          include ../components/blocks/forms/enter/_enter.pug
        .column
          .empty
          +room('../assets/images/rooms/888.jpg', '888', '9900', '5', '145', 'люкс')(class='room_active')
          +room('../assets/images/rooms/840.jpg', '840', '9900', '4', '65')

      section.block-container.block-container__layout
        h2.section-title Headers and footers
        +simpleLogo
        +header(false)
        +header(true)
        +footer
        +footer(class='footer_media')
  script(src="./uikit/uikit.js")