include ../components/blocks/color_item/_color-block.pug
include ../components/blocks/forms/mixins/_mixins-forms.pug


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="./uikit/uikit.scss")
    //- link(rel="shortcut icon", href="@favicon.ico", type="image/x-icon")
    title Uikit
  body
    .container
      section.block-container
        h2.section-title Colors & Type
        include ../components/blocks/logo/_logo.pug
        .color-container
          +color-item('dark shade 100%', '#1F2041', 'color__rect_dark')
          +color-item('dark shade 75%', '#1F2041', 'color__rect_dark75')
          +color-item('dark shade 50%', '#1F2041', 'color__rect_dark50')
          +color-item('dark shade 25%', '#1F2041', 'color__rect_dark25')
          +color-item('dark shade 5%', '#1F2041', 'color__rect_dark5')
          +color-item('purple', '#BC9CFF', 'color__rect_purple')
          +color-item('green', '#6FCF97', 'color__rect_green')
        .text-container
          include ../components/blocks/text-block/_text-block.pug
      section.block-container
        h2.section-title Form elements
        include ../components/blocks/logo/_logo.pug
        .forms-top
          .forms-block
            form(action="", method="post", class="field")
              fieldset.fieldset
                +label('text field')
                  +field('text', 'email', 'email')
                +label('text field')
                  +field('text', 'text-focus', 'email')
                +label('masked text field')
                  +field('text', 'calendar', 'ДД.ММ.ГГ')
                +label('dropdown')
                  +select('guests', 'Сколько гостей')
                +label('date dropdown')(class='date-field')
                  +select('date', 'ДД.ММ.ГГ')
                +label('date dropdown')(class='date-field disabled-field')
                  +select('disabled', '19.08.2019', true)(class='date')
                +label('filter date dropdown')(class='filter-field')
                  +select('filter', '19 авг - 23 авг')(class='filter-date')
                include ../components/blocks/forms/subscription/_subscription.pug
          .forms-block
            form(action="", method="post", class="field")
              fieldset.fieldset
                .checkbox-container
                  legend checkbox buttons
                  +checkbox('smoking', 'Можно курить')
                  +checkbox('pets', 'Можно с питомцами')
                  +checkbox('guests', 'Можно пригласить гостей')
          .forms-block
        .forms-bottom
        

  script(src="./uikit/uikit.js")