include ../components/blocks/color_item/_color-block.pug
include ../components/blocks/forms/mixins/_mixins-forms.pug
include ../components/blocks/buttons/_check-buttons.pug
include ../components/blocks/buttons/like/_like.pug
include ../components/blocks/buttons/rating/_rating.pug
include ../components/blocks/buttons/button/_button.pug


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="./uikit/uikit.scss")
    //- link(rel="shortcut icon", href="@favicon.ico", type="image/x-icon")
    title Uikit
  body
    .container
      section.block-container
        h2.section-title Colors & Type
        include ../components/blocks/logo/_logo.pug
        .color-container
          +color-item('dark shade 100%', '#1F2041', 'color__rect_dark')
          +color-item('dark shade 75%', '#1F2041', 'color__rect_dark75')
          +color-item('dark shade 50%', '#1F2041', 'color__rect_dark50')
          +color-item('dark shade 25%', '#1F2041', 'color__rect_dark25')
          +color-item('dark shade 5%', '#1F2041', 'color__rect_dark5')
          +color-item('purple', '#BC9CFF', 'color__rect_purple')
          +color-item('green', '#6FCF97', 'color__rect_green')
        .text-container
          include ../components/blocks/text-block/_text-block.pug
      section.block-container
        h2.section-title Form elements
        include ../components/blocks/logo/_logo.pug
        .forms-top
          .forms-block
            form(action="", method="post", class="field")
              fieldset.fieldset
                +label('text field')
                  +field('text', 'email', 'Email')
                +label('text field')
                  +field('text', 'text-focus', 'This is preaty awesome')
                +label('masked text field')
                  +field('text', 'masked', 'ДД.ММ.ГГГГ')
                +label('dropdown')
                  +select('guests', 'Сколько гостей')
                +label('date dropdown')(class='date-field')
                  +select('date', 'ДД.ММ.ГГ')
                +label('date dropdown')(class='date-field disabled-field')
                  +select('disabled', '19.08.2019', true)(class='date')
                +label('filter date dropdown')(class='filter-field')
                  +select('filter', '19 авг - 23 авг')(class='filter-date')
                include ../components/blocks/forms/subscription/_subscription.pug
          .forms-block
            form(action="", method="post", class="field")
              .button-container
                h3.buttons-name checkbox buttons
                +checkbox('smoking', 'Можно курить')
                +checkbox('pets', 'Можно с питомцами', 'checked')
                +checkbox('guests', 'Можно пригласить гостей (до 10 человек)', 'checked')
              .button-container
                h3.buttons-name radio buttons
                .radio
                  +radio('sex', 'male', 'Мужчина', 'true')(class='radio__item')
                  +radio('sex', 'female', 'Женщина')(class='radio__item')
              .button-container
                h3.buttons-name toggle
                +toggle('offer-on', 'Получать спецпредложения', 'checked')
                +toggle('offer-off', 'Получать спецпредложения')
              .button-container
                h3.buttons-name like button
                .like-container
                  +like(2)
                  +like(12)(class="like_press")
              .button-container
                h3.buttons-name rate button
                .rate-buttons
                  +star(4)
                  +star(5)
          .forms-block
            .button-container
              include ../components/blocks/range-slider/_range-slider.pug
            .button-container
              h3.buttons-name buttons
              .buttons-wrapper
                +button("click me")
                +button("click me")(class="button_active")
                +button("click me")(class="button__border")
                +button("click me")(class="button_active button__border")
                +button("click me")(class="button__text")
                +button("click me")(class="button__text button__text_active")
        .forms-bottom

  script(src="./uikit/uikit.js")