
@use '../../sass/abstracts/variables';
.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 variables.$dark5;
  & .button {
    height: 34px;
    min-width: 87px;
    padding: 0 19px;
  }
}
.header-container {
  width: calc(100% - 280px);
  display: flex;
  gap: 20px;
  min-height: 70px;
  align-items: center;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    width: calc(100% - 100px);
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  &-item {
    color: variables.$dark50;
    cursor: pointer;
    &:first-child a {
      font-weight: 800;
      color: variables.$dark75;
    }
  }
  &-link {
    text-decoration: none;
    color: variables.$dark50;
  }
}
.header__title {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-right: auto;
}
.submenu {
  display: flex;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 20px;
  color: variables.$dark50;
  position: relative;
  & .hatch {
    height: 30px;
    width: 1px;
    background-color: variables.$dark25;
    position: relative;
    top: 0;
    left: 0;
  }
}
