
@use 'Sass/abstracts/variables';
@use 'Blocks/buttons/button/button';
@use 'Blocks/burger/burger';
.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 variables.$dark5;
  & .button {
    height: 34px;
    min-width: 87px;
    padding: 0 19px;
  }
  &-menu {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    @media screen and (max-width: 980px) {
      position: fixed;
      left: 100%;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      gap: 30px;
      background-color: #fff;
      z-index: 2;
    }
    &_open {
      left: 0;
      & .header__nav {
        flex-direction: column;
      }
      & .header__login {
        flex-direction: column;
      }
     }
  }
}
.header-container {
  width: calc(100% - 280px);
  display: flex;
  gap: 20px;
  min-height: 70px;
  align-items: center;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    width: calc(100% - 100px);
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  &-item {
    color: variables.$dark50;
    cursor: pointer;
  }
  &-link {
    text-decoration: none;
    color: variables.$dark50;
    white-space: nowrap;
  }
}
.header__title {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-right: auto;
}
.submenu {
  display: flex;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 21px;
  color: variables.$dark50;
  position: relative;
  & .hatch {
    height: 30px;
    width: 1px;
    background-color: variables.$dark25;
    position: relative;
    top: 0;
    left: 0;
  }
}
