@import '../../../sass/mixins/mixins.scss';
@mixin field-style {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 1px solid $dark25;
  font-weight: 400;
  font-size: 14px;
}
@mixin focus-field {
  border: 1px solid $dark50;
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
      color: $dark75;
    }
}
.field-name {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  width: 100%;
}
.checkbox, .radio {
  display: flex;
  margin-bottom: 10px;
}

.checkbox-label{
  font-size: 14px;
  line-height: 18px;
  color: $dark50;
}
input[type="text"] {
  @include field-style;
  &::placeholder{
    color: $dark25;
    text-transform: capitalize;
    }
  &:hover,
  &:focus {
    @include focus-field;
  }
}
select,
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  border: 1px solid $dark25;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: all ease .5s;
  &::after {
    font-family: 'Font Awesome 6 Free';
    display: block;
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    @include text-gradient;
  }
  &:checked {
    border-color: $purple;
  }
  &:checked::after {
    opacity: 1;
  }
  & + label {
    cursor: pointer;
    max-width: 200px;
  }
}

select {
  @include field-style;
  color: $dark75;
  background-image: url(../../../../assets/images/svg_materials/expand_more_black_24dp.svg);
  background-color: transparent;
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 100%;
  transition: all ease .5s;
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    @include linear-gradient;
  }
  &:checked {
    border-color: $purple;
    & + .radio-label {
      color: $dark75;
    }
  }
  &:checked::after {
    opacity: 1;
  }
  & + .radio-label {
    cursor: pointer;
    color: $dark50;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

