@import '../../../sass/mixins/mixins.scss';
@mixin field-style {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 1px solid $dark25;
  font-weight: 400;
  font-size: 14px;
}
@mixin focus-field {
  border: 1px solid $dark50;
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
      color: $dark75;
    }
}
.field-name {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}


.text-field {
  @include field-style;
  &::placeholder{
    color: $dark25;
    }
  &:hover,
  &:focus {
    @include focus-field;
  }
}

.filter-field {
  width: 266px;
}




