.review-container {
  display: flex;
  
}
.review{
  display: flex;
  flex-direction: column;
  color: $dark75;
  gap: 10px;
  max-width: 709px;
  &__content {
    display: flex;
    gap: 14px;
  }
  &__userinfo {
    display: flex;
    gap: 14px;
  }
  &__userphoto {
    background-color: transparent;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 10px 20px 0 rgba($dark, .10);
  }
  &__data {
    display: flex;
    flex-direction: column;
  }
  &__username {
    font-weight: 800;
  }
}