mixin review(data= {})
  .review
    .review__image
      .review__userphoto
        img(src= data.userphoto, alt='user photo')
      .review__like
        block
    .review__content
      .review__userdata
        span.review__username= data.username
        span.review__time=data.time
      .review__userreview
        span.review__text= data.text