@use 'Components/sass/base/fonts';
@use 'Components/sass/abstracts/variables';
@use 'Components/sass/mixins/mixins';
@use 'Components/sass/base/normalize';
@use 'Components/sass/base/basic';
@use 'Blocks/color_item/color-block';
@use 'Blocks/logo/logo';
@use 'Blocks/text-block/text-block';
@use 'Assets/fonts/fontawesome/scss/fontawesome.scss';
@use 'Assets/fonts/fontawesome/scss/solid.scss';
@use 'Assets/fonts/fontawesome/scss/brands.scss';
@use 'Blocks/buttons/checkbox/check-buttons';
@use 'Blocks/buttons/like/like.scss';
@use 'Blocks/forms/mixins/mixins-forms.scss';
@use 'Blocks/forms/subscription/subscription.scss';
@use 'Blocks/forms/search-form/search-form.scss';
@use 'Blocks/forms/reg-form/reg-form.scss';
@use 'Blocks/forms/enter/enter.scss';
@use 'Blocks/forms/booking/booking.scss';
@use 'Blocks/buttons/rating/rating';
@use 'Blocks/range-slider/range-slider';
@use 'Blocks/buttons/button/button';
@use 'Blocks/pagination/paginat';
@use 'Blocks/dropdown/dropdown';
@use 'Blocks/datepicker/datepicker';
@use 'Blocks/buttons/checkbox/expandable/expandable';
@use 'Blocks/buttons/checkbox/rich/rich';
@use 'Blocks/bullet-list/bullet-list';
@use 'Blocks/advantage/advantage';
@use 'Blocks/room/room';
@use 'Blocks/review/review';
@use 'Blocks/img-slider/img-slider';
@use 'Components/layout/header/header';
@use 'Components/layout/footer/footer';

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 266px auto;
  padding: 30px 140px 70px;
  gap: 60px;
}
.room-filter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  // .dropdown {
  //   margin-bottom: 8px;
  // }
}
.room-filter-base {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.room-filter-conveniences {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.room-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 12px;
  height: 1091px;
  align-items: stretch;
}
.room-section {
  &__title {
    margin-bottom: 21px;
  }
}
.room-pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}