@use 'Sass/abstracts/variables';
@use 'Sass/mixins/mixins';
.room__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -5px;
}
.room__price {
  min-width: 100px;
  line-height: 27px;
  color: variables.$dark50;
  & .price {
    font-weight: 800;
    & + span {
      font-weight: 800;
    }
  }
  span:last-child {
    font-size: 12px;
  }
}
.sum-price {
  padding-left: 1px;
  &__row {
    display: flex;
    justify-content: space-between;
    color: variables.$dark75;
    line-height: 18px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__cost {
    & span {
      &:first-child {
        width: 214px;
      }
    }
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$dark25;
  width: 20px;
  height: 20px;
  border: 1px solid variables.$dark25;
  border-radius: 100%;
  cursor: pointer;
}
.room-search {
  padding-left: 28px;
  padding-right: 30px;
  & .total {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: -1px;
    padding-left: 1px;
    @include mixins.h2;
    align-items: baseline;
    & span {
      display: block;
      flex-shrink: 0;
    }
    & .dots {
      display: block;
      border-bottom: 1px dotted variables.$dark;
      flex-grow: 1;
      margin: 0 5px;
    }
  }
  .button {
    margin-top: -2px;
  }
}
.room__number {
  font-weight: 800;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  & .number {
    @include mixins.h1;
    &::before {
      content: '№ ';
      font-size: 14px;
    }
  }
  & .room_type {
    color: variables.$purple;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 26px;
  }
}

