@use '../abstracts/variables';
@mixin text-gradient {
  background: -webkit-linear-gradient(variables.$gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin back-gradient {
  background: linear-gradient(variables.$gradient);
}
@mixin border-gradient {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(variables.$gradient) border-box;
  border: 2px solid transparent;
}
@mixin green-gradient {
  background-image: linear-gradient(180deg, variables.$green 0%, #66d2ea 100%);
}
@mixin input-style-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  border: 1px solid variables.$dark25;
}

@mixin material {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: variables.$dark50;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin head-font {
  font-family: variables.$font-2;
  color: variables.$dark;
  font-weight: 700;
}
@mixin main-font {
  font-family: variables.$font-1;
  color: variables.$dark;
}

@mixin h3 {
  @include main-font;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
@mixin h1 {
  @include head-font;
  font-size: 24px;
  line-height: 30px;
}
@mixin h2 {
  @include head-font;
  font-size: 19px;
  line-height: 24px;
}
@mixin bodyfont {
  @include main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: variables.$dark75;
}

@mixin expand-more {
  @include material;
  position: absolute;
  content: 'expand_more';
  top: 50%;
  right: calc(0% + 9px);
}
