
.form {
  width: 378px;
  background-color: #fff;
  padding: 39px 29px 29px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);;
  border-radius: 4px;
  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-family: $openSans;
    font-weight: bold;
  }
  
}
.search {
  & .button {
    margin-top: 10px;
    padding-right: 3px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: space-between;
}