.form.search
  h2.form__title Найдём номера под ваши пожелания
  .form-container
    +datepicker('прибытие', 'выезд')
    +guestDropdown('гости')
    +button('подобрать номер', './search.html')(class="button__long")