.form
  h2.form__title Найдём номера под ваши пожелания
  .form-container 
    .datepicker-container
      +label('прибытие')
        +field('text', 'date', 'ДД.ММ.ГГГГ')(class='masked-date datepicker text-field')
      +label('выезд')
        +field('text', 'date', 'ДД.ММ.ГГГГ')(class='masked-date datepicker text-field')
    +dropdown('guest','search-guest', 'гости', 'Сколько гостей',
              {'adults': 'Взрослые',
              'children': 'Дети',
              'infant': 'Младенцы'
              }, true)
    +button('подобрать номер')(class="button__long")