.form.search
  h2.form__title Найдём номера под ваши пожелания
  .form-container 
    .datepicker-container
      +label('прибытие')
        +field('text', 'start-date', 'ДД.ММ.ГГГГ')(class='masked-date datepicker text-field')
      +label('выезд')
        +field('text', 'end-date', 'ДД.ММ.ГГГГ')(class='masked-date datepicker text-field')
    +guestDropdown('dropdown')
    +button('подобрать номер')(class="button__long")