mixin logo
  div.logo
    include ../../../assets/images/icons/color-logo.svg
    include ../../../assets/images/icons/toxin.svg

mixin simpleLogo 
  .simple-logo 
    include ../../../assets/images/icons/color-logo.svg