mixin logo
  a.logo(href='/index.html')
    include Assets/images/icons/color-logo.svg
    include Assets/images/icons/toxin.svg

mixin simpleLogo
  .simple-logo
    include Assets/images/icons/color-logo.svg