.simple-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  & svg {
    width: 48px;
    height: 48px;
    & path {
      color: $dark25;
      fill: $dark;
      fill-opacity: 0.25;
    }
  }
}
.logo {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-right: auto;
  & svg:last-child {
    margin-bottom: -1px;
  }
}
