.reg-form {
  padding-top: 39px;;
}
.form-bottom {
  display: flex;
  align-items: center;
  margin-top: 9px;
  & .button {
    margin: 0;
    margin-left: auto;
  }
  
}
.username,
.userdate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reg-form .form__title {
  margin-bottom: 20px;
}
.birthday {
  margin-top: 3px;
}