@use 'Sass/mixins/mixins';
.rating-container {
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-star {
  @include mixins.text-gradient;
  width: 24px;
  height: 100%;
  font-size: 12px;
  -webkit-text-stroke: 4px transparent;
  -webkit-text-fill-color: #fff;
  text-align: center;
  color: #fff;
  opacity: 1;
  padding-top: 6px;
  cursor: pointer;
  &_checked {
    @include mixins.text-gradient;
  }
}
