mixin menu(classname, data=[{}])
  ul(class= classname + '__menu')
    each item in data
      if item.href
        li(class= classname + '__menu-item')
          a(class= classname + '__menu-link', href= item.href)= item.itemname
      else
        li(class= classname + '__menu-item')= item.itemname
- const icons = [{name: "twitter", href: "https://twitter.com/"},{name: "square-facebook", href: "https://www.facebook.com/?locale=ru_RU"},{name: "instagram", href: "https://www.instagram.com/"}]
mixin footer
  footer.footer(class!=attributes.class)
    .footer-container
      .footer__top
        .footer__column
          +logo
          p.footer__tagline Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__column.footer__nav
          h3.footer__menu-title навигация
          +menu('footer', [
            {itemname: 'о нас', href: '#about'},
            {itemname: 'новости', href: '#news'},
            {itemname: 'служба поддержки', href: '#support'},
            {itemname: 'услуги', href: '#servies'},
          ])
        .footer__column.footer__nav
          h3.footer__menu-title о нас
          +menu('footer', [
              {itemname: 'о сервисе', href: '#about_service'},
              {itemname: 'наша команда', href: '#teem'},
              {itemname: 'вакансии', href: '#vakancies'},
              {itemname: 'инвесторы', href: '#serviсes'},
            ])
        .footer__column.footer__nav
          h3.footer__menu-title служба поддержки
          +menu('footer', [
            {itemname: 'соглашения', href: '#about_service'},
            {itemname: 'сообщества', href: '#teem'},
            {itemname: 'связь с нами', href: '#vakancies'}
          ])
        .footer__column
          h3.footer__menu-title подписка
          p Получайте специальные предложения и новости сервиса
          +subscription
      .footer__bottom
        p Copyright &#169; 2018 Toxin отель. Все права зачищены.
        .media-block
          ul.media-block__list
            each icon in icons
              li.meadia-block__item
                a(class='media-block__item-link' href=`${icon.href}` target='_blank')
                  i(class=`fa-brands fa-${icon.name}`)
