@mixin media-footer {
  .footer {
    &__column > :not(.logo) {
      display: none;
    }
    &__top {
      justify-content: center;
      margin-bottom: 0;
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      gap: 25px;
      margin-bottom: 100px;
      &::before {
        display: none;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  &__column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    &:first-child {
      max-width: 260px;
    }
    &:last-child {
      max-width: 260px;
    }
  }
  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 70px;
    align-items: center;
    padding: 100px 140px 10px;
  }
  &_media {
    width: 768px;
    @include media-footer;
  }
  &__top {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 100px;
    & p {
      color: $dark75;
    }
  }
}
.footer__menu .footer__menu-item {
  &::first-letter {
    text-transform: uppercase;
  }
  & .footer__menu-link {
    text-decoration: none;
    color: $dark50;
  }
  &:not(:last-child){
    margin-bottom: 20px;
  }
}
.footer__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 1px;
    background-color: $dark25;
    width: calc(100% + 280px);
    top: -20px;
    left: -140px;
    right: -140px;
  }
  & .media-block {
    & .media-block__list li {
      display: inline-block;
      @media (hover: hover) {
        cursor: pointer;
        transform: scale(1.1);
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
      & i {
        font-size: 24px;
        @include text-gradient;
      }
    }
    
    
  }
}
@media screen and (max-width: $tablet){
  @include media-footer;
}
