@use '../../sass/abstracts/variables';
@use '../../sass/mixins/mixins';
#pagination-container .toxin-theme {
  flex-direction: column-reverse;
  font-family: variables.$font-1;
  line-height: 24px;
  & div.paginationjs-nav {
    @include mixins.main-font;
    color: variables.$dark75;
    font-size: 14px;
    margin-left: 5px;
    line-height: 186%;
  }
  & div.paginationjs-pages {
    margin-left: 0;
    & li {
      &.toxin-theme_pages,
      &.toxin-theme_pages__active,
      &.toxin-theme_pages__disable,
      &.toxin-theme_pages__next,
      &.toxin-theme_pages__prev {
        border: none;
        border-right: none;
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          @include mixins.main-font;
          width: 40px;
          height: 40px;
          color: variables.$dark50;
          border-radius: 100%;
          font-size: 12px;
        }
        &.toxin-theme_pages {
          &__active > a {
            @include mixins.back-gradient;
            color: #fff;
          }
          &__next > a {
            @include mixins.material;
            position: relative;
            background-color: variables.$green;
            color: #fff;
            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              content: 'arrow_forward';
              translate: -50% -50%;
            }
          }
          &__prev > a {
            @include mixins.material;
            position: relative;
            background-color: variables.$green;
            color: #fff;
            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              content: 'arrow_back';
              translate: -50% -50%;
            }
          }
        }
      }
    }
  }
}
