$green: #6fcf97;
$purple: #bc9cff;
$blue: #8ba4f9;
$dark: #1f2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.5);
$dark25: rgba($dark, 0.25);
$dark10: rgba($dark, 0.1);
$dark5: rgba($dark, 0.05);
$gradient:
  180deg,
  $purple 0%,
  $blue 100%;
$opacityGradient:
  180deg,
  rgba($blue, 0.25) 0%,
  rgba($purple, 0.25) 100%;

$tablet: 768px;

$font-1: 'Montserrat', 'Arial', sans-serif;
$font-2: 'Quicksand', 'Arial', sans-serif;
$openSans: 'Open Sans', 'Arial', sans-serif;

$fa-font-path: '../../../assets/fonts/fontawesome/webfonts';
