@import '../base/fonts';

$green: #6fcf97;
$purple: #bc9cff;
$blue: #8ba4f9;
$dark: #1f2041;
$dark75: rgba($dark, .75);
$dark50: rgba($dark, .5);
$dark25: rgba($dark, .25);
$dark5: rgba($dark, .05);
$gradient: 180deg, #bc9cff 0%, #8ba4f9 100%;

$tablet: 768px;


$font-1: 'Montserrat', 'Arial', sans-serif;
$font-2: 'Quicksand', 'Arial', sans-serif;

$fa-font-path: '../../../assets/fonts/fontawesome/webfonts';
