@use '../../../sass/mixins/mixins';
@use 'Blocks/forms/mixins/mixins-forms';
.email-form {
  position: relative;
  &::after {
    @include mixins.material;
    position: absolute;
    top: 50%;
    right: calc(0% + 10px);
    content: 'arrow_forward';
    text-align: center;
    @include mixins.text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    translate: 0 -50%;
  }
}
